---
import { Image } from 'astro:assets';
import haridusMin from '../assets/haridus_ja_teadusministeerium.png';
import RMIT from '../assets/RMIT.svg';
import telia from '../assets/telia.svg';
import rmk from '../assets/rmk.png';
import maksu_ja_tolliamet from '../assets/maksu_ja_tolliamet.svg';
import bigbank from '../assets/bigbank.svg';
import TEHIK from '../assets/TEHIK.svg';
import TWM from '../assets/TWM.png';
import andres from '../assets/andres.jpg'
import magnar from '../assets/magnar.jpg'
interface Props {
    lang: 'et' | 'en';
}

const { lang } = Astro.props;
---

<section
  id="about"
  class="container mt-36 flex flex-col sm:flex-row justify-between gap-8 scroll-mt-24"
>
  <div class="flex-1">
    <h3 class="mb-8 font-bold text-3xl text-center md:text-left">{lang === 'et' ? 'Mida oleme saavutanud' : 'What we have achieved'}</h3>
    <div class="space-y-4 mb-12">
        <p>
            {lang === 'et' ? 'Maand Solutions aitab nii alustavatel kui ka juba tegutsevatel brändidel oma lugusid veebis jutustada täpse ja kaasahaarava Vikipeedia sisu ning tehisintellektil põhinevate digikampaaniate kaudu, mis avaldavad mõju.' :
                'Maand Solutions helps brands both emerging and established tell their stories online through accurate, engaging Wikipedia content and AI-native digital campaigns that make an impact.'}
        </p>
        <p>
            {lang === 'et' ? 'Maand Solutions asutati eesmärgiga lahendada ettevõtete, organisatsioonide ja üksikisikute Vikipeediaga seotud probleeme. Meie erialaks on lehekülgede loomine ja ajakohastamine, järgides samal ajal kogukonna reegleid ja viies teie sõnumid vastavusse Vikipeedia missiooniga.' :
                'Maand Solutions was founded with the purpose of solving problems on Wikipedia for companies, organizations, and individuals. We specialize in creating and updating pages while staying on the right side of community guidelines, aligning your messaging with Wikipedia\'s mission.'}</p>
        <p>
            {lang === 'et' ? 'Ettevõtteüritused, nagu ühinemised, eraldamised või ümberbrändimine, ning väljakutsed, nagu tagasikutsumised või kohtuvaidlused, võivad tekitada ebakindlust teie brändi esindatuse osas Vikipeedias. Meie meeskond pakub strateegilisi hinnanguid teie Vikipeedia kohaloleku ja meediamaastiku kohta, pakkudes praktilisi teadmisi nende keerukuste tõhusaks lahendamiseks.' :
                'Corporate events like mergers, spinoffs, or rebrands, and challenges such as recalls or litigation can produce uncertainty around your brand\'s representation on Wikipedia. Our team offers strategic assessments of your Wikipedia presence and the media landscape, providing actionable insights to navigate these complexities effectively.'}</p>
    </div>
    <div class="grid grid-cols-4 gap-8 mt-8 items-center justify-items-center">
        <Image
            class="w-auto h-auto"
            src={haridusMin}
            alt="Haridus- ja Teadusministeerium"
        />
        <Image
            src={RMIT}
            alt="RMIT"
        />
        <Image
            src={telia}
            alt="Telia"
        />
        <Image
            src={rmk}
            alt="RMK"
        />
        <Image
            src={maksu_ja_tolliamet}
            alt="Maksu- ja Tolliamet"
        />
        <Image
            src={bigbank}
            alt="Bigbank"
        />
        <Image
            src={TEHIK}
            alt="TEHIK"
        />
        <Image
            src={TWM}
            alt="twm"
        />
    </div>
  </div>
    <div class="flex-1 grid grid-cols-1 sm:grid-cols-2 gap-4">
        <li class="border border-black p-4 list-none rounded-2xl min-h-40">
            <h2 class="text-3xl font-semibold">37</h2>
            <p>{lang === 'et' ? 'Edukat projekti' : 'Completed projects'}</p>
        </li>

        <li class="bg-black text-white p-4 list-none rounded-2xl min-h-40">
            <h2 class="text-3xl font-semibold">5</h2>
            <p>{lang === 'et' ? 'Töötajat' : 'Employees'}</p>
        </li>

        <li class="bg-sand p-4 list-none rounded-2xl min-h-40">
            <h2 class="text-3xl font-semibold">3 000 000</h2>
            <p>{lang === 'et' ? 'Käive' : 'Revenue'}</p>
        </li>

        <li class="bg-primary p-4 list-none rounded-2xl min-h-40">
            <h2 class="text-3xl font-semibold">37</h2>
            <p>{lang === 'et' ? 'Rahulolevat klienti' : 'Satisfied clients'}</p>
        </li>
    </div>
</section>

<section
        id="team"
        class="container mx-auto mt-24 scroll-mt-24 px-4"
>
    <h3 class="font-bold text-3xl text-center">
        {lang === 'et' ? 'Meie meeskond' : 'Our team'}
    </h3>

    <div class="mt-12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 text-black">
        <div class="flex flex-col items-center">
            <Image src={magnar} alt="Magnar Aruoja" class="w-40 h-40 md:w-48 md:h-48 rounded-full object-cover" />
            <p class="mt-2 font-medium text-center">Magnar Aruoja</p>
            <p class="font-medium text-center">Role</p>
            <p class="font-medium text-center">tel: 55556666</p>
            <p class="font-medium text-center">E-mail: magnar@maand.ee</p>
        </div>

        <div class="flex flex-col items-center">
            <Image src={andres} alt="Andres Saaremõts" class="w-40 h-40 md:w-48 md:h-48 rounded-full object-cover" />
            <p class="mt-2 font-medium text-center">Andres Saaremõts</p>
            <p class="font-medium text-center">Role</p>
            <p class="font-medium text-center">Tel: 55556666</p>
            <p class="font-medium text-center">E-mail: andres@maand.ee</p>
        </div>

        <div class="flex flex-col items-center">
            <Image src={andres} alt="Andres Saaremõts" class="w-40 h-40 md:w-48 md:h-48 rounded-full object-cover" />
            <p class="mt-2 font-medium text-center">Carolina Kask</p>
            <p class="font-medium text-center">Role</p>
            <p class="font-medium text-center">Tel: 55556666</p>
            <p class="font-medium text-center">E-mail: carolina@maand.ee</p>
        </div>

        <div class="flex flex-col items-center">
            <Image src={andres} alt="Andres Saaremõts" class="w-40 h-40 md:w-48 md:h-48 rounded-full object-cover" />
            <p class="mt-2 font-medium text-center">Timo Kaasik</p>
            <p class="font-medium text-center">Junior Software Developer</p>
            <p class="font-medium text-center">Tel: 55556666</p>
            <p class="font-medium text-center">E-mail: timo@maand.ee</p>
        </div>

        <div class="flex flex-col items-center">
            <Image src={andres} alt="Andres Saaremõts" class="w-40 h-40 md:w-48 md:h-48 rounded-full object-cover" />
            <p class="mt-2 font-medium text-center">Aksel Kaasik</p>
            <p class="font-medium text-center">Junior Software Developer</p>
            <p class="font-medium text-center">Tel: 55556666</p>
            <p class="font-medium text-center">E-mail: aksel@maand.ee</p>
        </div>
    </div>
</section>