---
import { Image } from 'astro:assets';
import haridusMin from '../assets/haridus_ja_teadusministeerium.png';
import RMIT from '../assets/RMIT.svg';
import telia from '../assets/telia.svg';
import rmk from '../assets/rmk.png';
import maksu_ja_tolliamet from '../assets/maksu_ja_tolliamet.svg';
import bigbank from '../assets/bigbank.svg';
import TEHIK from '../assets/TEHIK.svg';
import TWM from '../assets/TWM.png';
interface Props {
    lang: 'et' | 'en';
}

const { lang } = Astro.props;
---

<section
  id="about"
  class="container mt-36 flex flex-col sm:flex-row justify-between gap-8"
>
  <div class="flex-1">
    <h3 class="mb-8 font-bold text-3xl">{lang === 'et' ? 'Mida oleme saavutanud' : 'What we have achieved'}</h3>
    <div class="space-y-4 mb-12">
        <p>
            Beutler Ink helps brands both emerging and established tell their stories online through accurate, engaging Wikipedia content and AI-native digital campaigns that make an impact.
        </p>
        <p>
            Beutler Ink was founded with the purpose of solving problems on Wikipedia for companies, organizations, and individuals. We specialize in creating and updating pages while staying on the right side of community guidelines, aligning your messaging with Wikipedia's mission.        </p>
        <p>
            Corporate events like mergers, spinoffs, or rebrands, and challenges such as recalls or litigation can produce uncertainty around your brand’s representation on Wikipedia. Our team offers strategic assessments of your Wikipedia presence and the media landscape, providing actionable insights to navigate these complexities effectively.        </p>
    </div>
    <div class="grid grid-cols-4 gap-8 mt-8 items-center justify-items-center">
        <Image
            class="w-auto h-auto"
            src={haridusMin}
            alt="Haridus- ja Teadusministeerium"
        />
        <Image
            src={RMIT}
            alt="RMIT"
        />
        <Image
            src={telia}
            alt="Telia"
        />
        <Image
            src={rmk}
            alt="RMK"
        />
        <Image
            src={maksu_ja_tolliamet}
            alt="Maksu- ja Tolliamet"
        />
        <Image
            src={bigbank}
            alt="Bigbank"
        />
        <Image
            src={TEHIK}
            alt="TEHIK"
        />
        <Image
            src={TWM}
            alt="twm"
        />
    </div>
  </div>
  <div
    class="flex-1 grid grid-flow-col auto-cols-auto grid-rows-2 justify-stretch gap-4"
  >
    <li
      class="border border-black p-4 list-none rounded-2xl min-h-40 aspect-square"
    >
      <h2 class="text-3xl font-semibold">37</h2>
      <p>{lang === 'et' ? 'Edukat projekti' : 'Completed projects'}</p>
    </li>
    <li
      class="bg-black text-white p-4 list-none rounded-2xl min-h-40 aspect-square"
    >
      <h2 class="text-3xl font-semibold">5</h2>
      <p>{lang === 'et' ? 'Töötajat' : 'Employees'}</p>
    </li>
    <li
      class="bg-sand p-4 list-none rounded-2xl min-h-40 aspect-square"
    >
      <h2 class="text-3xl font-semibold">3 000 000</h2>
      <p>{lang === 'et' ? 'Käive' : 'Revenue'}</p>
    </li>
    <li
      class="bg-primary p-4 list-none rounded-2xl min-h-40 aspect-square"
    >
      <h2 class="text-3xl font-semibold">37</h2>
      <p>{lang === 'et' ? 'Rahulolevat klienti' : 'Satisfied clients'}</p>
    </li>
  </div>
</section>
