---
import { Image } from 'astro:assets';
import hero from '../assets/hero.webp';
import java from '../assets/java.svg';
import typescript from '../assets/typescript.svg';
import react from '../assets/react.svg';
import nextjs from '../assets/nextjs.svg';
import vue from '../assets/vue.svg';
import angular from '../assets/angular.svg';
---
<section class="flex flex-wrap bg-sand mx-2 sm:mx-8 md:mx-12 rounded-3xl py-8 lg:min-h-[80vh]">
    <div class="grid grid-cols-1 lg:grid-cols-2 justify-between container items-center">
        <div class="order-last lg:order-first flex flex-col justify-center">
            <h2 class="text-4xl mt-4 lg:mt-0 sm:text-5xl font-bold mb-4">Õigesti tehtud tarkvara</h2>
            <p class="mb-8">Loome teile parima lahenduse</p>
            <div><a class="bg-black text-white p-3 px-6 rounded-lg" href="#contact">Võta ühendust</a></div>
        </div>
        <Image src={hero} alt="hero" class="rounded-3xl aspect-square" />
    </div>
</section>
<section class="container flex flex-col sm:flex-row sm:space-x-12 items-center my-8 flex-wrap">
    <p>Me räägime sinu keelt:</p>
    <div class="flex justify-between flex-1 gap-2 lg:gap-0 items-center sm:px-16">
        <Image src={java} alt="Java" class="h-8 sm:h-16 w-auto -mr-2" />
        <Image src={typescript} alt="Typescript" class="h-8 sm:h-10 w-auto" />
        <Image src={react} alt="React" class="h-8 sm:h-10 w-auto" />
        <Image src={nextjs} alt="NextJS" class="h-8 sm:h-10 w-auto" />
        <Image src={vue} alt="Vue" class="h-8 sm:h-10 w-auto" />
        <Image src={angular} alt="Angular" class="h-11 sm:h-14 w-auto" />
    </div>
</section>